.textarea {
  padding: var(--gap0);
  border-radius: var(--border-radius0);
  border: var(--border-color3);

  transition: box-shadow var(--transition-duration);

  min-height: 2.5rem;
  max-height: 50vh;

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: var(--box-shadow-color3);
  }
}
